@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --background: 224deg 50% 31%;
        --primary: 224deg 55% 59%;
        --card: 0 0% 85%;
        --card-foreground: 0 0% 41%;
        --border: 0 0% 85%;
    }

    h1, h2, h3 {
        @apply font-bold
    }
}


@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background font-poppins;
    }
}